In [3]:
#Importando Pandas e Numpy
import pandas as pd
import numpy as np

In [4]:
#Lendo os dados

pd = pd.read_csv("./ifood-restaurants-february-2021.csv", sep= ",", header =0)

In [ ]:
pd.head(5)

In [5]:
#Função importante que traz visão geral da base, com quantidade geral, quantidades de entradas por categoria e o tipo de dados
pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 406399 entries, 0 to 406398
Data columns (total 14 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   availableForScheduling  406399 non-null  bool
 1   avatar                  406122 non-null  object
 2   category                406399 non-null  object
 3   delivery_fee            406399 non-null  float64
 4   delivery_time           406399 non-null  int64
 5   distance                406399 non-null  float64
 6   ibge                    406399 non-null  int64
 7   minimumOrderValue       406399 non-null  float64
 8   name                    406399 non-null  object
 9   paymentCodes            406397 non-null  object
 10  price_range             406399 non-null  object
 11  rating                  406399 non-null  float64
 12  tags                    406399 non-null  object
 13  url                     406399 non-null  object
dtypes: bool(1), float64(4), int64(2), object(7)
memory usage: 40.7+ MB

In [8]:
#Para selecionar uma coluna, é possível utilizar a função "sel". Quando se trata de mais de uma coluna, é obrigatório utilizar dois colchetes. No caso abaixo, para facilitar o uso futuro, toda a seleção foi feita dentro da variável "df_sel".
df_sel = pd[["name", "category", "delivery_fee", "distance", "delivery_time", "price_range"]]

In [9]:
#Para classificar os tipos de variáveis, utilizamos as fórmulas abaixo:
numericas = df_sel.select_dtypes(include= ["number"]).columns.tolist()
categoricas = df_sel.select_dtypes(include= ["object", "category", "bool"]).columns.tolist()

In [10]:
print("Variáveis Numéricas:", numericas)
print("Variáveis Categóricas: ", categoricas)

Variáveis Numéricas: ['delivery_fee', 'distance', 'delivery_time']
Variáveis Categóricas:  ['name', 'category', 'price_range']

In [11]:
#Função "describe": gera estatísticas rápidas e descritivas sobre sua base de dados. É um resumo estático para entender a tendência central, a dispersão e o formato de distribuição dos dados. Funciona apenas para variáveis numéricas.
df_sel.describe()

        delivery_fee       distance  delivery_time
count  406399.000000  406399.000000  406399.000000
mean        6.804577       4.219752      47.432747
std         4.315815      68.329379      19.662736
min         0.000000       0.000000      -1.000000
25%         4.000000       1.750000      35.000000
50%         6.000000       3.080000      45.000000
75%         9.490000       4.830000      60.000000
max        35.000000   11810.190000    5050.000000

Cálculo de moda - Função 'mode' - uso para variáveis

In [12]:
#Uso da função "moda" (mode) - Caso 1
df_sel["name"].mode()

0    Sabor Caseiro
Name: name, dtype: object

In [ ]:
#Uso da função "moda" (mode) - Caso 2
df_sel["category"].mode()

0    Lanches
Name: category, dtype: object

In [84]:
#Uso da função "moda" (mode) - Caso 3
df_sel["price_range"].mode()

0    CHEAPEST
Name: price_range, dtype: object

In [13]:
#Avaliando as modas das variáveis categóricas

for variavel in categoricas:
    contagens = df_sel[variavel].value_counts()

    if len(contagens) >= 5:
        print("~~~~~~~~~~~~~~~~~~~~~~")
        print(f"Variável {variavel}")
        print(f"Moda: {df_sel[variavel].mode()[0]}\n")
        print(f"{contagens.iloc[0:5]}\n")
    else:
        print("~~~~~~~~~~~~~~~~~~~~~~")
        print(f"Variável {variavel}")
        print(f"Moda: {df_sel[variavel].mode()[0]}\n")
        print(f"{contagens.iloc[0:len(contagens)]}\n")

~~~~~~~~~~~~~~~~~~~~~~
Variável name
Moda: Sabor Caseiro

name
Sabor Caseiro        186
Divino Sabor         132
Sabor de Casa        115
Doce Sabor           113
Cantinho do Sabor    103
Name: count, dtype: int64

~~~~~~~~~~~~~~~~~~~~~~
Variável category
Moda: Lanches

category
Lanches          98946
Brasileira       73348
Doces & Bolos    39828
Pizza            36819
Açaí             22110
Name: count, dtype: int64

~~~~~~~~~~~~~~~~~~~~~~
Variável price_range
Moda: CHEAPEST

price_range
CHEAPEST          294140
MODERATE           44769
CHEAP              43100
EXPENSIVE          15778
MOST_EXPENSIVE      8612
Name: count, dtype: int64

Cálculo de média - Função 'mean' - Variáveis numéricas

In [15]:
numericas

['delivery_fee', 'distance', 'delivery_time']

In [25]:
float(df_sel["distance"].mean())

4.219752189350859

In [24]:
float(df_sel["delivery_fee"].mean())

6.80457700437255

In [23]:
float(df_sel["delivery_time"].mean())

47.43274712782266

In [22]:
#Para calcular as variáveis de todas as numéricas, basta utilizar a categoria "numericas" criada anteriormente
df_sel[numericas].mean()

delivery_fee      6.804577
distance          4.219752
delivery_time    47.432747
dtype: float64

In [27]:
for variavel in numericas:
    print(f"Média Variável {variavel}: {float(df_sel[variavel].mean())}")

Média Variável delivery_fee: 6.80457700437255
Média Variável distance: 4.219752189350859
Média Variável delivery_time: 47.43274712782266

Cálculo de Mediana - Função 'median' - Variáveis numéricas

In [33]:
float(df_sel["delivery_fee"].median())

6.0

In [34]:
float(df_sel["distance"].median())

3.08

In [35]:
float(df_sel["delivery_time"].median())

45.0

In [42]:
df_sel[numericas].median()

delivery_fee      6.00
distance          3.08
delivery_time    45.00
dtype: float64

In [ ]:
for variavel in numericas:
    print(f"Media ")